<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alfheim.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Alfheim.GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Alfheim.GUI.Properties.Settings>
            <setting name="DefaultLanguage" serializeAs="String">
                <value>en-US</value>
            </setting>
            <setting name="ChartQuality" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProjectsFolder" serializeAs="String">
                <value>Projects</value>
            </setting>
        </Alfheim.GUI.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Alfheim.GUI.Properties.Settings>
            <setting name="HelpSite" serializeAs="String">
                <value>http://abeliangroup.kl.com.ua/alfheim/</value>
            </setting>
        </Alfheim.GUI.Properties.Settings>
    </applicationSettings>
</configuration>